{% extends 'base.html' %} {% load static %} {% block body %}

<div class="div_centralizada_geral">

    <h1>Cadastro do Veiculo</h1>
    <hr style="width: 90%; background-color: black; margin: 0 0 30px 0;">
    <form method="POST" action="{% url 'cadastro_veiculos' %}" class="form form_veiculo">
        {% csrf_token %}
        <table>
            <tr>
                <td class="td_contas">Placa:</td>
                <td class="td_contas"><input type="text" name="placa" value="{{placa}}" maxlength="7" autofocus onchange="this.form.submit()" required></td>
            </tr>
        </table>
        <!-- <div class="div_1">
            <div>
                <label class="label1">Placa:</label>
                <input class="input1" type="text" name="placa" value="{{placa}}" maxlength="7" autofocus onchange="this.form.submit()" required>
            </div>
            <div>
                <label class="label1">Cliente:</label>
                <select class="input1" name="cliente">
                    <option value="">---</option>
                    {% for item in clientes %}
                    <option value="{{item.id}}" {% if item.id == veiculo.cliente.id %} selected {% endif %}>{{item.cpf_cnpj}} - {{item.nome}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="div_1">
            <div>
                <label class="label1">Marca / Modelo:</label>
                <select class="input1" name="marca">
                    <option value="">---</option>
                    {% for item in marcas %}
                    <option value="{{item.id}}" {% if item.id == veiculo.marca.id %} selected {% endif %}>{{item.nome}} - {{item.modelo}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="label1">Ano:</label>
                <input class="input1" type="number" value="{{veiculo.ano}}" maxlength="4" required>
            </div>
        </div>

        <div class="div_1">
            <div>
                <label class="label1">Motor:</label>
                <select class="input1" name="motor">
                    <option value="">---</option>
                    {% for item in motores %}
                    <option value="{{item.id}}" {% if item.id == veiculo.motor.id %} selected {% endif %}>{{item.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="label1">Combustivel:</label>
                <select class="input1" name="combustivel">
                    <option value="">---</option>
                    {% for item in combustiveis %}
                    <option value="{{item.id}}" {% if item.id == veiculo.combustivel.id %} selected {% endif %}>{{item.nome}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="div_1">
            <div>
                <label class="label1">Transmissão:</label>
                <select class="input1" name="transmissao">
                    <option value="">---</option>
                    {% for item in transmissoes %}
                    <option value="{{item.id}}" {% if item.id == veiculo.transmissao.id %} selected {% endif %}>{{item.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="label1">Data de Cadastrado:</label>
                <input class="input1" type="date" value="{{veiculo.data_cadastro}}">
            </div>
        </div>
        <div class="div_1">
            <button type="submit" name="action" value="cadastrar_alterar">Gravar</button>
        </div> -->
    </form>
</div>
{% endblock %}
