{% extends 'base.html' %} {% load static %} {% block body %}

<!-- <div class="div_centralizada_geral"> -->
<div class="form_fornecedor form_fornecedor_relatorio">
    <h1>Folha de Pagamento</h1>
    <hr style="width: 90%; background-color: black; margin: 0 0 30px 0;">
    <!-- Filtro de ano e mes -->
    <form method="POST" action="{% url 'folha_pagamento' %}">
    {% csrf_token %}
      <div style="display: flex;">
        <div class="checkbox-container">
          <div class="checkbox_folha" style="display: block; border-right: 1px solid blue; padding-right: 30px;">
            <label>2025</label>
            <input type="checkbox" class="checkbox-ano" value="2025" {% if ano_atual == 2025 %} checked name="ano" {% endif %}>
            <label>2026</label>
            <input type="checkbox" class="checkbox-ano" value="2026" {% if ano_atual == 2026 %} checked name="ano" {% endif %}>
            <label>2027</label>
            <input type="checkbox" class="checkbox-ano" value="2027" {% if ano_atual == 2027 %} checked name="ano" {% endif %}>
          </div>
        </div>
        <br>
        <div class="checkbox-container">
          <div class="checkbox_folha">
            <label>JAN</label>
            <input type="checkbox" class="checkbox-mes" value="1" {% if mes_atual == 1 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>FEV</label>
            <input type="checkbox" class="checkbox-mes" value="2" {% if mes_atual == 2 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>MAR</label>
            <input type="checkbox" class="checkbox-mes" value="3" {% if mes_atual == 3 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>ABR</label>
            <input type="checkbox" class="checkbox-mes" value="4" {% if mes_atual == 4 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>MAI</label>
            <input type="checkbox" class="checkbox-mes" value="5" {% if mes_atual == 5 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>JUN</label>
            <input type="checkbox" class="checkbox-mes" value="6" {% if mes_atual == 6 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>JUL</label>
            <input type="checkbox" class="checkbox-mes" value="7" {% if mes_atual == 7 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>AGO</label>
            <input type="checkbox" class="checkbox-mes" value="8" {% if mes_atual == 8 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>SET</label>
            <input type="checkbox" class="checkbox-mes" value="9" {% if mes_atual == 9 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>OUT</label>
            <input type="checkbox" class="checkbox-mes" value="10" {% if mes_atual == 10 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>NOV</label>
            <input type="checkbox" class="checkbox-mes" value="11" {% if mes_atual == 11 %} checked name="mes" {% endif %}>
          </div>
          <div class="checkbox_folha">
            <label>DEZ</label>
            <input type="checkbox" class="checkbox-mes" value="12" {% if mes_atual == 12 %} checked name="mes" {% endif %}>
          </div>
        </div>
        <div style="margin: 0 0 0 300px;">
          <img src="static/imagens/tabela_inss_irrf2025.png" alt="Logo" width="600px"/>
        </div>
      </div>
      <br>
      <th><input type="checkbox" id="selecionarTodos"></th>
      <th>Selecionar todos...</th>
      <br><br>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Salário.B</th>
            <th>INSS</th>
            <th>IRRF</th>
            <th>V.T (6%)</th>
            <th>Salário.L</th>
            <th>PG Salário</th>
            <th>Dias + / -</th>
            <th>V.A</th>
            <th>V.T</th>
            <th>PG V.A + V.T</th>
            <th>FGTS</th>
            <th>Obs</th>
          </tr>
        </thead>
        <tbody>
          {% for item in relatorio %}
            <tr>
              <th><input type="checkbox" name="funcionario{{ forloop.counter }}" value={{item.funcionario.id}} class="selecionar"></th>
              <th>{{ item.funcionario.nome }}</th>
              <th>{{ item.funcionario.cargo.nome }}</th>
              <th>{{ item.funcionario.salario }}</th>
              <th>{{ item.inss }}</th>
              <th>{{ item.irrf }}</th>
              <th>{{ item.desconto_vt }}</th>
              <th>{{ item.salario_liquido }}</th>z
              <th></th>
              <th><input type="text" name="dias_extras" value="{{dias_extras|defaut:'0'}}" class="input_folha"></th>
              <th>{{ item.va|floatformat:'2' }}</th>
              <th>{{ item.vt|floatformat:'2' }}</th>
              <th></th>
              <th>{{ item.fgts }}</th>
              <th><input type="text" name="obs" class="input_folha"></th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <div style="display: flex;">
        <label>Pagamento Salário:</label>
        <input type="date">
        <input type="submit" name="acao" value="Pagamento Salário">
      </div>
      <br>
      <div style="display: flex;">
        <label>Pagamento V.A + V.T:</label>
        <input type="date" name='pg_va_vt' value="{{pg_va_vt}}">
        <input type="submit" name="acao" value="Pagamento Vales">
      </div>
      <br>
    </form>
    <form method="POST" action="{% url 'folha_pagamento' %}">
      {% csrf_token %}
      <div style="display: flex;">
        <label>Dias Uteis no mês</label>
        <input type="hidden" name="mes" value="{{mes_atual}}">
        <input type="hidden" name="ano" value="{{ano_atual}}">
        <input name="quant_dias" value="{{quant_dias}}">
        {% if not quant_dias %} 
          <input type="submit" name="acao" value="Gravar">
        {% endif %}
        </div>
    </form>

</div>
<script>
  document.getElementById("selecionarTodos").addEventListener("change", function() {
      let checkboxes = document.querySelectorAll(".selecionar");
      checkboxes.forEach(checkbox => {
          checkbox.checked = this.checked;
      });
  });
</script>

<script>
  document.querySelectorAll(".checkbox-mes").forEach(checkbox => {
      checkbox.addEventListener("change", function() {
          document.querySelectorAll(".checkbox-mes").forEach(cb => {
              if (cb !== this) {
                  cb.checked = false;
              }
          });
      });
  });
</script>
<script>
  document.querySelectorAll(".checkbox-ano").forEach(checkbox => {
      checkbox.addEventListener("change", function() {
          document.querySelectorAll(".checkbox-ano").forEach(cb => {
              if (cb !== this) {
                  cb.checked = false;
              }
          });
      });
  });
</script>

  {% endblock %}
