{% extends 'base.html' %} {% load static %} {% block body %}

<!-- <div class="div_centralizada_geral"> -->
<div class="form_fornecedor form_fornecedor_relatorio">
    <h1>Relatório de Serviços</h1>
    <hr style="width: 90%; background-color: black; margin: 0 0 30px 0;">
    <table>
        <thead>
          <tr>
            <th class="cabec_rel_prod">ID</th>
            <th class="cabec_rel_prod">Servico</th>
            <th class="cabec_rel_prod">Valor</th>
            <th class="cabec_rel_prod">Faturamento</th>
            <th class="cabec_rel_prod">1 Carro C/ +</th>
            <th class="cabec_rel_prod">2 Carro C/ +</th>
            <th class="cabec_rel_prod">3 Carro C/ +</th>
          </tr>
        </thead>
        <tbody>
          {% for item in servico_info %}
          <tr>
            <td class="font_rel_est">{{ item.servico.id }}</td>
            <td class="font_rel_est">{{ item.servico.nome }}</td>
            <td class="font_rel_est">{{ item.servico.valor }}</td>
            <td class="font_rel_est">{{ item.faturamento }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
