{% extends 'base.html' %} {% load static %} {% block body %}

<!-- <div class="div_centralizada_geral"> -->
<div class="form_fornecedor">
    <h1>Relatório de Clientes</h1>
    <hr style="width: 90%; background-color: black; margin: 0 0 30px 0;">
    <table>
        <thead>
          <tr>
            <th class="cabec_rel_prod">ID</th>
            <th class="cabec_rel_prod">Cliente</th>
            <th class="cabec_rel_prod">CNPJ / CPF</th>
            <th class="cabec_rel_prod">Telefone</th>
            <th class="cabec_rel_prod">Whatsapp</th>
            <th class="cabec_rel_prod">Email</th>
            <th class="cabec_rel_prod">Data de Cadastro</th>
            <th class="cabec_rel_prod">Quant de Servicos</th>
            <th class="cabec_rel_prod">Quant de Compras</th>
            <th class="cabec_rel_prod">R$ Pagos</th>
          </tr>
        </thead>
        <tbody>
          {% for item in clientes %}
          <tr>
            <td class="font_rel_est">{{ item.id }}</td>
            <td class="font_rel_est">{{ item.nome }}</td>
            <td class="font_rel_est">{{ item.cpf_cnpj }}</td>
            <td class="font_rel_est">{{ item.telefone }}</td>
            <td class="font_rel_est">{{ item.whatsapp }}</td>
            <td class="font_rel_est">{{ item.email }}</td>
            <td class="font_rel_est">{{ item.data_cadastro }}</td>
            <td class="font_rel_est">{{ item.quant_servico }}</td>
            <td class="font_rel_est">{{ item.quant_produto }}</td>
            <td class="font_rel_est">{{ item.valor_pg }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
